@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.container {
  width: 1440px;
  background: #ffffff;
}

.header__logo {
  margin-left: 170px;
  margin-top: 15px;
}

.header__item {
  list-style: none;
  display: flex;
  margin-left: 357px;
}

.header__list {
  width: 89px;
  height: 18px;
  top: 11px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  text-align: left;
  color: #000;
  margin-top: -30px;
}

.header__button {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  width: 152px;
  height: 40px;
  gap: 0px;
  border-radius: 12px;
  border: #3d55f9;
  opacity: 0px;
  background: #3d55f9;
  margin-left: 1100px;
  transform: translateY(-40px);
}

.header__head {
  width: 460px;
  height: 100px;
  top: 67px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 43px;
  font-weight: 400;
  line-height: 49.62px;
  margin-left: 170px;
}

.header__img {
  margin-left: 600px;
  margin-top: -200px;
}

.header__text {
  width: 450px;
  height: 97px;
  top: 7px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 32.04px;
  margin-top: -350px;
  margin-left: 170px;
}

.header__input {
  font-family: Roboto;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-align: left;
  color: black;
  border: #ffffff;
  width: 497px;
  height: 80px;
  gap: 0px;
  border-radius: 20px;
  border: 2px;
  opacity: 0px;
  border: 2px solid #ffffff;
  margin-left: 170px;
}

.input__button {
  margin-left: -200px;
  width: 172px;
  height: 56px;
  gap: 0px;
  border: #3d55f9;
  border-radius: 12px;
  opacity: 0px;
  background: #3d55f9;
}
