@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.container {
  width: 1440px;
  background: #ffffff;
}

.sidebar {
  margin-top: 100px;
}

.sidebar__img {
  margin-left: 200px;
}

.sidebar__box{
    margin-left: 850px;
    margin-top: -600px;
}

.sidebar__box--span {
  width: 64px;
  height: 20px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: #3d55f9;
}

.sidebar__box--head {
  width: 400px;
  height: 140px;
  top: 40px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 40px;
  font-weight: 400;
  line-height: 46.67px;
  text-align: left;
}

.sidebar__box--text {
  width: 432px;
  height: 33px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 32.04px;
  text-align: left;
}

.sidebar__box--text2 {
  width: 430px;
  height: 65px;
  top: 39px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 12px;
  font-weight: 400;
  line-height: 32.04px;
  text-align: left;
}

.sidebar__list--text {
  margin-left: 50px;
  margin-top: -40px;
  width: 269px;
  height: 32px;
  left: 72px;
  gap: 0px;
  opacity: 0px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
}

.sidebar__box--list {
  margin-top: 50px;
}

.sidebar__box--item {
  margin-top: 70px;
}
